<app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
</div>
<div class="album py-5 bg-light">
<div class="container">
  <app-recipe *ngIf="loadedFeature === 'recipe'"></app-recipe>
    <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
</div>
</div>